div {
    background-color: rgb(27, 112, 112);
    height: 50vh;
    position: relative;
}
p {
    margin: 0%;
    padding: 1em;
    font-weight: bolder;
    position: absolute;
}
#time{
    left: 5%;
}
#date{
    right: 5%;
    bottom: 0%;
}